@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Oswald:wght@200&family=Smooch+Sans&display=swap');

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    font-family: var(--bodyFont);

    margin: 0;
}

:root {
    /* definiujemy zmienne dla palety kolorów */
    --primary-000: #E0F7FA;
    --primary-100: #B2EBF2;
    --primary-200: #80DEEA;
    --primary-300: #4DD0E1;
    --primary-400: #26C6DA;
    --primary-500: #00BCD4;
    --primary-600: #00ACC1;
    --primary-700: #0097A7;
    --primary-800: #00838F;
    --primary-900: #006064;
    /* zmienne pod barwy główne */
    --fontColor: var(--primary-800);
    --backgroundColor: var(--primary-100);
    /* zmienne pod kroje czcionek */
    --specialFont: 'Ephesis', cursive;
    --bodyFont: 'Oswald', sans-serif;
    --headerFont: 'Smooch Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: var(--headerFont);
}

.navbar {  
    display: flex;
    justify-content: center;
}

.nav-center {
    width: 90vw;
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header > img {
    width: 6rem;
} 

.btn {
    background-color: var(--primary-500);
    color: white;
    cursor: pointer;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.4rem 0.7rem;
}

.nav-btn > i {
    font-size: 1.4rem;
}

.nav-links {
    display: flex;
    flex-direction: column;

    height:0;
    overflow: hidden;
    
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}

.show-links {
    height: 410px;
}

a {
    text-decoration: none;
}

.nav-link {
    text-align: center;
    color: var(--fontColor);
    font-size: 1.4rem;
    padding: 1.5rem 0;
    border-top: 1px solid var(--primary-500);
    letter-spacing: 0.1rem;
}

.nav-link:hover {
    color: var(--primary-200);
}

@media screen and (min-width: 600px) 
{
    .nav-btn {
        display: none;
    }

    .nav-links {
        height: auto;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .nav-center {
        display: flex;
        max-width: 1280px;
    }

    .contact-link {
        margin-right: 0;
        margin-left: auto;
    }

    .nav-link {
        border: none;
        margin-right: 1rem;
        padding: 0;
    }

    .nav-header {
        margin-right: 2rem;
    }
}



/* STOPKA */
.page-footer {
    background-color: black;
    color: var(--primary-100);
    font-family: var(--headerFont);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Strona główna */
.main-page {
    /*background-color: var(--primary-600);*/
    min-height: calc(100vh - 9rem);
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* Projekty */
.project > img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    object-fit: cover;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    flex: 1;
}

p {
    padding: 0 1.2rem;
}

p > b {
    margin-right: 1.5rem;
}

/* Animacja na stronie głównej */
.welcome {
    font-size: 3rem;
    font-family: var(--specialFont);
    color: var(--primary-200);
    position: relative;
}

.welcome::after {
    content: attr(data-loading-text);
    color: var(--primary-600);
    position: absolute;
    left: 0;
    width: 0%;
    overflow: hidden;

    animation-name: loading;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}